{{> templates/navbar}}
<div class="seleccion-container">
    <div id="seleccion_modo">
        <a href="/home">
            <button class="btn btn-dark" onclick="setUserType('humano')">Persona</button>
        </a>
        <a href="/home">
            <button class="btn btn-dark" onclick="setUserType('juridico')">Empresa</button>
        </a>
    </div>

</div>

<script>
    function setUserType(userType) {
        fetch('/setUserType', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ userType: userType }), // Envía el tipo de usuario
        })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Puedes redirigir o actualizar la UI según sea necesario
                    console.log(data.message); // Muestra el mensaje de éxito en la consola
                    window.location.href = '/home'; // Redirige a la página de inicio
                })
                .catch(error => {
                    console.error('Error:', error);
                });
    }

</script>