{{#partial "contenido"}}
<div class="seleccion-container">
    <div id="seleccion_modo">
        <a href="/simeal/homepage">
            <button class="btn btn-dark">Persona</button>
        </a>
        <a href="/simeal/homepage">
            <button class="btn btn-dark">Empresa</button>
        </a>
    </div>

</div>
{{/partial}}
{{> templates/navbar}}

