{{#partial "contenido"}}
<div class="cargacsv">
<div class="example-container">

    <h1>Ejemplo de Estructura CSV</h1>
    <p>Se espera que el archivo CSV tenga el siguiente formato:</p>

    <pre>
    Tipo de documento,Nro de documento,Nombre,Apellido,Email,Fecha de la colaboracion,Tipo de colaboracion,Cantidad
    DNI,12345678,Pepe,Rodriguez,pepito@gmail.com,01/03/2022,REDISTRIBUCION_VIANDA, 5
    DNI,11111111,Pablo,Rodriguez, pablito@gmail.com,01/03/2022,DONACION_VIANDA,5
    DNI,22222222,Jose,Rodriguez,josesito@gmail.com,01/03/2022,DINERO,5
    DNI,22222222,Jose,Rodriguez,josesito@gmail.com,01/03/2022,DINERO,10
    </pre>

</div>
<div class="form-group cargacsv">
    <form method="POST" action="/simeal/migracion/upload" id="uploadForm" class="cargacsv">
        <label>Archivo csv</label>
        <input name="file" id="fileInput" type="file" class="form-control custom-file-imput mb-5" placeholder="Inserte un archivo .csv">

        <progress id="progressBar" value="0" max="100"></progress>
        <p id="progressText">0% completado</p>

        <a>
            <button type="submit" class="btn btn-primary btn-seleccionar rounded m-auto">Subir archivo</button>
        </a>
    </form>

</div>

<script src="/js/cargarcsv.js"></script>
</div>>
{{/partial}}
{{> templates/admin_navbar}}
