{{#partial "contenido"}}
<div class="reportes">
    <div class="reporte mt-5">
       <h1>Reporte de la semana</h1>
    </div>
    <div class="reporte mt-5">
    <a href="https://guarani.frba.utn.edu.ar/autogestion/grado/acceso">
        <h2 class="rounded">Reporte04072024</h2>
    </a>
    </div>
    <div class="reporte">
    <a href="https://guarani.frba.utn.edu.ar/autogestion/grado/acceso">
        <h2 class="rounded">Reporte28062024</h2>
    </a>
    </div>
    <div class="reporte">
    <a href="https://guarani.frba.utn.edu.ar/autogestion/grado/acceso">
        <h2 class="rounded">Reporte21062024 </h2>
    </a>
    </div>
</div>
{{/partial}}
{{> templates/admin_navbar}}
