{{> templates/navbar}}
<div style="display: flex;flex-direction: row; width: 100%; align-items: center; justify-content: space-evenly;">
<div class="reportes">
    <div class="reporte">
       <h1>Reportes semanales</h1>
    </div>
    {{#each reportes}}
    <div class="reporte mt-5">
    <a href={{this.reporte}}>
        <h2 class="rounded">{{this.nombre}}</h2>
    </a>
    {{/each}}
</div>
</div>
