{{> templates/navbar}}
{{#if popup_title}}
    {{> templates/popup}}
{{/if}}
<div class="linear-container">
    {{> templates/heladeras/mapa_heladera}}
<div class="form-heladeras">
    <form class="form-group-heladeras">
        <h3 class="mb-5 mt-5">Complete con la información de la heladera</h3>
        <label for="nombre_heladera">Nombre de la heladera</label>
        <input id="nombre_heladera" type="text" class="form-control mb-4"  placeholder="Nombre">
        <label for="ubicacion_heladera">Ubicación</label>
        <input id="ubicacion_heladera" type="text" class="form-control mb-5" placeholder="Ubicación">

        <a class="btn btn-dark btn-seleccionar rounded mb-3" id="inputHeladera" type="button">Seleccionar</a>
        {{#if esHumano}}
        <a class="btn btn-dark btn-info btn-seleccionar rounded mb-3" id="suscripciones" type="button" href="/suscripciones">Mis Suscripciones</a>
        {{/if}}
    </form>
</div>
</div>

<script type="module" src="/js/mapa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="/js/recibirInputHeladera.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>