{{> templates/navbar}}
<div class="container-suprem-suscripciones">
    <h1 class="mt-4">Suscripciones de Colaborador</h1>

    <!-- Aquí se generarán las suscripciones -->
    <div id="subscriptions-list">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Heladera</th>
                <th>Tipo de suscripción</th>
                <th>Cantidad crítica</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {{#each suscripciones}}
                <tr>
                    <td>{{this.heladeraNombre}}</td>
                    <td>{{this.tipoSuscripcion}}</td>
                    <td>{{this.cantidadViandas}}</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteSubscription({{this.id}})">Eliminar</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script>
    function deleteSubscription(subscriptionId) {
        // Aquí iría la lógica para eliminar la suscripción
        // Por ejemplo, podrías hacer una solicitud fetch a tu API para eliminar la suscripción

        if (confirm('¿Estás seguro de que deseas eliminar esta suscripción?')) {
            fetch(`http://localhost:8080/suscripcion/${subscriptionId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        console.log("se respondio 200 ok")
                        document.getElementById(`subscription-${subscriptionId}`).remove();

                    } else {
                        alert('Error al eliminar la suscripción.');
                    }
                });
            location.reload()
            console.log(`Suscripción con ID ${subscriptionId} eliminada.`);

        }
    }
</script>