
input {
    max-width: 70% !important;
}

#titulo-subtitulo{
    text-align: center;
}

.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    align-items: center;
    display: grid;
}