.form-heladeras {
    display: flex;
    width: 100%;
    height: 100%;
}

.form-group-heladeras{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

.form-group-heladeras label {
    align-self: start;
    margin-left: 20% !important;

}

.form-group-reporte {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.form-group-reporte form {
    width: 80%;
    align-items: center;
}

.form-group-reporte input {
    width: 100%;
}

.form-group-reporte form a {
    display: flex;
    align-self: center;
}

.form-solicitud-operacion {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.form-solicitud-operacion label {
    margin-left: 0 !important;
}

.container-suprem-suscripciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
}
.subscription-list {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.subscription-container {

}