/*-----------------------------*/
.container-fluid{
    background-color: white;
    width: 100%;
}

.header-container{
    display: flex;
    align-items: center;
}

.logo{
    width: 2.5%;
    height: auto;
}

.titulo{
    color: #000000;
    font-size: 4vh;
}

.icon-text{
    /*font-size: 24px;*/
    font-size: 2.5vh;
    align-content: center;
    color: black;
    font-style: italic;
}

.icon-text i {
    /*font-size: 50px;*/
    font-size: 5vh;
    color: black;
}

/*---------------------------------------*/
.container-supremo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #03B796, #035C69);
    width: 100%;
    height: 200vh;
}

.container-supremo form {
    margin-top: 5vh;
    align-self: center;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.container-supremo h1 {
    align-self: center;
    margin-bottom: 1vh !important;
    font-size: 10vh !important;
    color: white
}

.documento-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.documento-container select {
    text-align: center;
    width: 20%;
    margin-right: 2%;
}

.user-box {
    position: relative;
    margin-bottom: 3vh;
    width: 100%;
}

i.fas.fa-eye-slash {
    margin-bottom:0px;
}

form label {
    font-size: 2.5vh;
}

form input {
    font-size: 2.5vh!important;
}

.password-toggle-icon {
    position: absolute;
    top: 6vh;
    right: 0.8vw;
    cursor: pointer;
}

.password-toggle-icon i {
    font-size: 2vh;
    line-height: 1;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.password-toggle-icon i:hover {
    color: #000;
}

.terminos-condiciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.terminos-condiciones a {
    color: black;
    font-size: 2vh!important;
}

.terminos-condiciones:hover a {
    color: white;
}

u {
    margin-left: 0.8vh;
}

form button {
    font-size: 3vh !important;
    margin-top: 3vh;
    align-self: center;
}

/*------registro.html-----------*/
.body-registro {
    height: 100%;
    background: linear-gradient(to bottom, #05A185, rgb(114, 196, 156) );
}

.titulo-registro {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    font-size: 8vh;
    color: white;
}
.opciones-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.opciones-container button {
    padding-inline: 10vh 10vh;
    font-size: 5vh;
}


