h1{
    font-family: Cantarell , serif;
    font-weight: bold;
}

*{
    font-family: Cantarell, sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
}

#overlayContent {
    text-align: center;
    background: white;
    width: 20%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#overlayContent p {
    font-size: 1vw;
}

#overlayContent h6 {
    font-weight: bold;
    font-size: 3vh;
}


#overlay.show {
    visibility: visible;
    opacity: 1;
}
