.container-supremo-suscripcion {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75vh;
}

.container-frase-btn {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.titulo-suscripcion {
    width: 100%;
    height: 20%;
    text-align: start;
    margin-left: 5%;
}

.tarjeta-btns-suscripcion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    align-items: center;

}

.btn-con-input {
    display: flex;
    flex-direction: column;
    min-width: 70%;
    height: 25%;
    justify-content: center;
    align-items: center;
}
.btn-con-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
}

.btn-con-check a{
    text-decoration: none;
    display: flex;
    margin-right: 10%;
    min-width: 70%;
}
.btn-con-check a button {
    font-size: 150%;
    height: 110%;
    min-width: 100%;
}
.input-suscripcion {
    width: 100%;
}
.input-suscripcion input{
    margin-top: 5%;
    width: 70%;

}

.form-suscripciones {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.a-btn {
    margin-top: 7%;
    text-decoration: none;
    display: flex;
    width: 80%;
    justify-content: center;
    font-size: 120%;
}

.a-btn button {
    width: 50%;
    justify-self: center;
    text-decoration: none;
}














.form-control {
    /*margin-left: 0%;*/
    width: 60%;
}

.form-group {
    gap: 10px;
    align-items: center;
}

.form-group a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
