<div id="overlay">
    <div id="overlayContent">
        <h6>{{title}}</h6>
        <p>{{message}}</p>
        <button class="btn btn-dark my-button redondeado" onclick="hideOverlay()">
            {{#if button}}{{button}}{{else}}Ok{{/if}}
        </button>
    </div>
    <script>
        // Function to show the overlay
        function showOverlay() {
            document.getElementById("overlay").classList.add("show");
        }

        // Function to hide the overlay
        function hideOverlay() {
            document.getElementById("overlay").classList.remove("show");
        }

        // Show the overlay when the page loads
        window.onload = showOverlay;
    </script>

</div>
