<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="/css/navbar-style.css">
    <link rel="stylesheet" href="/css/containers.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/tarjetas.css">
    <link rel="stylesheet" href="/css/colaboraciones.css">
</head>
<body>
{{> templates/navbar}}
<div class="container-supremo">
    <div class="colaboracion-personal-container">
        <div class="tarjeta-btns ml-auto mr-auto">
            {{#if donarDinero}}
            <a href="colaboracion/donarDinero"><button class="btn btn-dark mt-5 mb-3">Donar dinero</button></a>
            {{/if}}
            {{#if esHumano}}
                {{#if donarVianda}}
                <a href="colaboracion/donarVianda"><button class="btn btn-dark mb-3">Donar vianda</button></a>
                {{/if}}
                {{#if distribuirVianda}}
                <a href="colaboracion/distribucionVianda"><button class="btn btn-dark mb-3">Distribuir vianda</button></a>
                {{/if}}
            {{else}}
                {{#if adherirHeladera}}
                <a href="colaboracion/adherirHeladera"><button class="btn btn-dark mb-3">Adherir heladera</button></a>
                {{/if}}
            {{/if}}
        </div>
        <div class="colab-btns-inf-izq">
            <a href="colaboraciones/configuracion"><button class="btn btn-dark mt-5 mb-3"><b>Configurar colaboraciones</b></button></a>
        </div>
    </div>
    <div class="container-frase-btn">
        <div class="texto-motivacional">
            Todo esto es posible<br>gracias a nuestros colaboradores
        </div>
        <button class="btn btn-info" style="width: 50%;">
            <a href="colaboraciones/historial">Historial colaboraciones</a>
        </button>
    </div>
</div>

<footer class="bg-dark text-white text-center py-3 mt-auto">
    <p>&copy; Sistema de Mejora Alimentaria</p>
</footer>
</body>
</html>
