{{> templates/navbar}}

<div class="container mt-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Gracias por tu donación!</h4>
        <p>{{mensaje}}</p>
        <hr>
        <a class="btn btn-dark" href="/{{user_type}}/colaboraciones">Volver a colaboraciones</a>
    </div>
</div>