{{> templates/navbar}}
<div class="container">
    <h2>Distribuir Vianda</h2>
    <p>Indique la heladera origen y destino para la distribución.</p>

    <div class="mapa-container">
        <div class="m-3 mt-5 redondeado sombreado" id="mapid" style="height: 400px;"></div>
    </div>

    <div class="form-distribucion">
        <form class="form-group" action="/distribuirVianda" method="post">
            <label for="heladeraOrigen">Heladera Origen</label>
            <input id="heladeraOrigen" name="heladeraOrigen" type="text" class="form-control mb-4" placeholder="Heladera Origen" required>

            <label for="direccionOrigen">Dirección Origen</label>
            <input id="direccionOrigen" name="direccionOrigen" type="text" class="form-control mb-4" placeholder="Dirección Origen" required>

            <label for="heladeraDestino">Heladera Destino</label>
            <input id="heladeraDestino" name="heladeraDestino" type="text" class="form-control mb-4" placeholder="Heladera Destino" required>

            <label for="direccionDestino">Dirección Destino</label>
            <input id="direccionDestino" name="direccionDestino" type="text" class="form-control mb-4" placeholder="Dirección Destino" required>

            <button type="submit" class="btn btn-dark rounded">Distribuir</button>
        </form>
    </div>
</div>

<script type="module" src="/js/mapa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
