{{> templates/navbar}}

<div class="linear-container">
    <!-- Mapa interactivo para seleccionar la heladera -->
    {{> templates/heladeras/mapa_heladera}}

    <div class="form-heladeras">
        <form class="form-group-heladeras" action="/{{user_type}}/colaboraciones/donarVianda" method="POST">
            <h3 class="mb-5 mt-5">¿En qué heladera irá la vianda?</h3>

            <!-- Campo para ingresar el nombre de la heladera -->
            <label for="nombreHeladera">Nombre de la heladera</label>
            <input id="nombreHeladera" name="nombreHeladera" type="text" class="form-control mb-4" placeholder="Nombre de heladera" required>

            <!-- Campo para ingresar la ubicación de la heladera -->
            <label for="ubicacionHeladera">Ubicación</label>
            <input id="ubicacionHeladera" name="ubicacionHeladera" type="text" class="form-control mb-5" placeholder="Ubicación de heladera" required>

            <!-- Botón de aceptación -->
            <button class="btn btn-success rounded" type="submit">Aceptar</button>
            <a class="btn btn-danger rounded" href="/{{user_type}}/colaboraciones">Cancelar</a>
        </form>
    </div>
</div>

<!-- Scripts para el mapa -->
<script type="module" src="/js/mapa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="/js/recibirInputHeladera.js"></script>
