{{> templates/navbar}}

<div class="linear-container">
    <!-- Mapa interactivo para seleccionar la heladera -->
    {{> templates/heladeras/mapa_heladera}}
    {{#if popup_title}}
        {{> templates/popup}}
    {{/if}}

    <div class="form-heladeras">
        <form class="form-group-heladeras" action="/colaboracion/donarVianda" method="POST">
            <h3 class="mb-5 mt-5">¿En qué heladera irá la vianda?</h3>
            <!-- Campo para ingresar el nombre de la heladera -->
            <label for="nombre_heladera">Nombre de la heladera</label>
            <input id="nombre_heladera" name="nombre_heladera" type="text" class="form-control mb-4" placeholder="Nombre de heladera" required>
            <!-- Campo para ingresar la ubicación de la heladera -->
            <label for="ubicacion_heladera">Ubicación</label>
            <input id="ubicacion_heladera" name="ubicacion_heladera" type="text" class="form-control mb-5" placeholder="Ubicación de heladera" required>
            <!-- Vulnerabilidad IDOR, fix! -->
            <input id="id_heladera" hidden="hidden" name="id_heladera" type="text" class="form-control mb-5" required>

            <label for="tipo_comida">Tipo de comida</label>
            <input id="tipo_comida" name="tipo_comida" type="text" class="form-control mb-5" placeholder="Tipo de comida" required>

            <label for="fecha_caducidad">fecha de caducidad</label>
            <input id="fecha_caducidad" name="fecha_caducidad" type="date" class="form-control mb-5" placeholder="03/22/2014" required>
            <script>
                const today = new Date().toISOString().split("T")[0];
                document.getElementById("fecha_caducidad").setAttribute("min", today);
            </script>

            <label for="calorias">Calorías</label>
            <input id="calorias" name="calorias" type="number" class="form-control mb-5" placeholder="10000" required>

            <div id="botones">
                <button class="btn btn-success rounded mb-2" type="submit">Aceptar</button>
                <!--<a class="btn btn-danger rounded mb-2" href="/colaboraciones">Cancelar</a>-->
            </div>
        </form>
    </div>
</div>

<style>
    #botones{
        width: 40%;
        display: flex;
        flex-direction: column;
    }
</style>

<!-- Scripts para el mapa -->
<script type="module" src="/js/mapa.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script type="module" src="/js/recibirInputHeladera.js"></script>
