{{> templates/navbar}}
{{#if popup_message}}
    {{> templates/popup}}
{{/if}}
<div class="linear-container">
    <div class="form-donacion-dinero">
        <form action="/colaboraciones/donarDinero" method="POST">
            <h3 class="mb-5 mt-5">Complete su donación</h3>

            <!-- Campo para ingresar el monto de la donación -->
            <label for="monto">Monto</label>
            <input id="monto" name="monto" type="number" class="form-control mb-4" placeholder="ARS" required>

            <!-- Campo para seleccionar el método de pago -->
            <label for="metodoPago">Método de pago</label>
            <select id="metodoPago" name="metodoPago" class="form-control mb-5" required>
                <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                <option value="Tarjeta de débito">Tarjeta de débito</option>
                <option value="Transferencia bancaria">Transferencia bancaria</option>
            </select>

            <!-- Botón de aceptar -->
            <button class="btn btn-success rounded" type="submit">Donar</button>
            <a class="btn btn-danger rounded" href="/{{user_type}}/colaboraciones">Cancelar</a>
        </form>
    </div>
</div>