{{#partial "contenido"}}
<div class="container-supremo">
    <div class="tarjeta-personal-container">
        <h2 >Tarjeta Personal</h2>
        <div class="tarjeta-btns ml-auto mr-auto">
            <a href="h11.html">
                <button class="btn btn-dark mt-5 mb-3">Agregar tarjeta</button>
            </a>
            <a href="h12.html">
                <button class="btn btn-dark mb-3 seleccionado">Eliminar tarjeta</button>
            </a>
            <a href="h13.html">
                <button class="btn btn-dark mb-3">Modificar tarjeta</button>
            </a>
        </div>

    </div>
    <div class="container-tarjetas">

        {{#block "tarjeta-personal"}}
        {{/block}}

        <div class="tarjetas-entregadas ml-auto mr-auto">
            <h2 class="mt-3">Tarjetas Entregadas</h2>
            {{#each tarjetasEntregadas}}
                <div class="tarjeta-persona-vulnerable div-expand">
                <form action="tarjeta/delete" method="POST">
                    <p class="nro-tarjeta mr-5 mt-auto mb-auto">Nro: {{this.numero}}</p>
                    <img class="paper-bin-img" src="/img/paper-bin.png" alt="Erase">
                </form>
                </div>
            {{/each}}
        </div>
    </div>

</div>

<footer class="bg-dark text-white text-center py-3 mt-auto">
    <p>Lo que querramos poner</p>
</footer>
{{/partial}}
{{> templates/tarjetas/tarjeta_personal}}
