.container-supremo {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.colaboracion-personal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 20px; /* Para dar un poco de espacio en la parte inferior */
}

.container-frase-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-bottom: 20px; /* Para dar un poco de espacio en la parte inferior */
    width: 40%;
    align-items: center;
}

.tarjeta-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjeta-btns a {
    width: 75%;
    align-content: center;
    align-items: center;
    justify-content: center;}

.tarjeta-btns .btn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    text-align: center; /* Asegura que el texto esté centrado */
    padding: 10px 0; /* Ajusta el padding para el espacio interno */
}
.colab-btns-inf-izq{
   align-self: auto;
   border: none;
   padding: 10px 20px;
   border-radius: 20px; /* Bordes redondeados */
   font-weight: bold;
   cursor: pointer;
   width: 400px;
}
.colab-btns-inf-izq .btn {
    background-color: var(--verde);
    color: black; /* Texto oscuro */
    font-size: 150%;
    width: 130%;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    text-align: center; /* Asegura que el texto esté centrado */
}

.colab-btns-inf-der{
    align-self: auto;
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Bordes redondeados */
    font-weight: bold;
    cursor: pointer;
    width: 400px;
}
.colab-btns-inf-der .btn {
    background-color: var(--verde);
    color: black; /* Texto oscuro */
    font-size: 150%;
    width: 130%;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    text-align: center; /* Asegura que el texto esté centrado */
}


.texto-motivacional {
    color: black;
    margin-top: 10%;
    text-align: center;
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra */
    }

.colaborar-monto {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin: 2vh;
    background-color: var(--verde);
    max-height: 90vh;
    overflow-y: auto;
}

.form-donacion {
    padding: 2vh;
    width: 100%;
}

.colaborar-monto h2 {
    color: black;
}

.colaborar-monto button {
    width: 30%;
    align-self: center;
}

.container-donacion-dinero {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 7%;
    margin-bottom: 30%;
    height: auto;
}

.mapa-container{
    display: flex;
    flex:1;
    justify-content: left;
    align-items: top;
    height: 60vh;
}

#mapid{
    width: 70vh;
    height: 50vh;
    border: 5px solid black;
}

.container-selector-mapa {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 10%;
    height: auto;
}

.titulo-donacion-vianda{
    align-self: center;
    font-size: 30px;
    font-weight: bold;
}

.datos-heladera{
    width: 40%;
    align-self: center;
}

.btns-confirmacion{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-success,
.btn-danger {
    width: 20%; /* Ancho de los botones */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    align-self: center;
}

.datos-distribucion{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}

.datos-heladera-origen .datos-heladera-destino{
    width 100%;
    display: flex;
    align-items: center;
}

.texto-forma-colaboracion {
    color: black;
    margin-top: 30%;
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra */
    align-self: center;
    justify-content: center;
}

.checkbox-colaboracion {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.checkbox{
    width: 40px;
}

.btn-confirmar-colaboracion {
    display: flex;
    width: 70%;
    height: 100%;
    margin-top: 20px;
    justify-content: center;
}

.container-frase-colaboraciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 20px;
    width: 40%;
    align-items: center;
    margin-bottom:30%;
}

.form-adhesion-heladera{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.form-adhesion-heladera a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-adhesion-heladera a:hover{
    text-decoration: none;
}

.formulario-adhesion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 0;
    height: 115%;
}